$def with (content)
<html>
	<head>
$if 'title' in content and content.title:
	<title>$content.title - MusicShare</title>
$else:
	<title>MusicShare - Find any music</title>

	<link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">    
	<!--[if IE]>
		<link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/static/css/ui-darkness/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />

	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/jquery-ui.js"></script>

	</head>
	<body>
	<div class="container">

		<div class="header span-24">
			<a href="/"><img src="/static/mp3-logo.jpg" /></a>
		</div>

		<div class="content span-24">
		$:content
		</div>

		<div class="footer span-24">

		<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
	    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li><a href="/">home</a></li>
			<li><a href="/upload">upload</a></li>
			<li><a href="/api/about">api</a></li>
			<li><a href="/search">search</a></li>
			<li><a href="/about">about</a></li>
		</ul>
		</div>
		</div>
	</div>
	</body>
</html>

