$def with (files=[], title=None)
$var title: $title

<div class="ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
   <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
     <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#search">Search</a></li>
      <li class="ui-state-default ui-corner-top"><a href="#upload">Upload</a></li>
	</ul>

    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="search">
	<p>
		<form class="searchForm" action="/search" method="GET">
		<input type="text" name="q"  />
		<button type="submit">Search</button>
		</form>
	</p>
    </div>

    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="upload">
	<p>
		<form class="uploadForm" action="/upload" method="POST"  enctype="multipart/form-data">
		<input type="file" name="file" />
		<button type="submit">Upload</button>
		</form>
	</p>
	</div>
</div>

<script type="text/javascript">
$$(document).ready(function() {
	$$('#tabs').tabs();
});
</script>

<br />

$for file in files:
	$if file.title and file.artist:
		<h3> $file.artist : <a href="/view/$(file.id)">$file.title</a> </h3>
	$else:
		<h3> <a href="/view/$(file.id)">$file.filename</a> </h3>
	<object type="application/x-shockwave-flash" data="/static/player_mp3.swf" width="200" height="20">
		<param name="movie" value="/static/player_mp3.swf" /> 
		<param name="FlashVars" value="mp3=/media/$(file.id)&amp;showstop=1" />
	</object>
	<br /><br />
	<hr />

<br />
